<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>

		{% include 'components/head.html' %}
    </head>
    <body>
		{% include 'components/header.html' %}

		<p>
			Hello, I'm noati, or Noah. This is my quaint corner of the web.
		</p>

		{% for button in buttons %}
			<img src="{{ button }}" style="height: 1.75rem; width: auto;">
		{% endfor %}

		<h2>Contact Me</h2>
		{% include 'components/contact.html' %}

		<h2>Posts</h2>
		{% include 'components/posts.html' %}
    </body>
</html>
